main {
    padding: 5%;
}

.about-header {
    color: grey;

    h1 {
        position: relative;
        z-index: 1;
        overflow: hidden;
        text-align: center;

        &:before,
        &:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 1.5px;
            content: '\a0';
            background-color: grey;
        }

        &:before {
            margin-left: -60%;
            text-align: right;
        }

        &:after {
            margin-left: 10%;
            text-align: left;
        }
    }
}

.about-content {
    display: flex;
    padding: 5%;

    .about1 {
        flex: 2;
    }

    .about2 {
        flex: 1;
        justify-content: center;
        padding: 0 0 0 10%;
    }
}

.card {
    text-decoration: none;
    color: #2c2e41;
    max-width: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
    justify-content: center;
    align-items: center;

    header {
        padding-bottom: 90%;
        position: relative;
        overflow: hidden;
        background-image: none;
        background-size: cover;
        background-position: center;
        background-color: #253245;
        border-radius: 10px;
    }

    .content {
        width: 100%;
        border-radius: 10px;
        padding: 10px 30px;
        display: flex;
        .img-wrapper {
            display: flex;
            flex: 1;
            justify-content: center;
            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .content>* {
        margin-bottom: 20px;
    }

    .content>*:last-child {
        margin-bottom: 0;
    }
}