main {
    padding: 3% 10% 1%;

    h1 {
        position: relative;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: grey;


        &:before,
        &:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 1px;
            content: '\a0';
            background-color: silver;
        }

        &:before {
            margin-left: -60%;
            text-align: right;
        }

        &:after {
            margin-left: 10%;
            text-align: left;
        }
    }

    p {
        font-size: 3vh;
    }
}

.main-content {
    display: flex;
    padding: 5% 0;

    .about-content1 {
        flex: 5;
        text-align: justify;
    }

    .about-content2 {
        flex: 2;
        width: 100%;
        justify-content: center;
        padding: 0 0 0 10%;

        .card {
            text-decoration: none;
            color: #2c2e41;
            max-width: 25vw;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
            display: flex;
            justify-content: center;
            align-items: center;

            header {
                padding-bottom: 90%;
                position: relative;
                background-image: url(./bg-img/DP-large.png);
                background-size: cover;
                background-position: center;
                background-color: #527fc4;
                border-radius: 10px;
            }

            .card-content {
                width: 100%;
                border-radius: 10px;
                padding: 10px 30px;
                display: flex;

                .img-wrapper {
                    display: flex;
                    flex: 1;
                    justify-content: center;

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .card-content>* {
                margin-bottom: 20px;
            }

            .card-content>*:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.technical-content {
    display: flex;
    padding: 5% 0;
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .technical {
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: #527fc4;
        width: 12vw;
        height: 12vw;
        margin: 1px;
        position: relative;
        overflow: hidden;
        border-top: medium solid #527fc4;

        img {
            width: 50%;
            height: 50%;
            margin: 25%;
        }

        p {
            position: absolute;
            font-weight: 600;
            background-color: white;
            color: #527fc4;
            opacity: 1;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            transition: transform 0.5s, opacity 0.5s;
            cursor: default;
        }

        &:hover>p {
            opacity: 1;
            transform: translate(0, -100%);
            transition: 1s ease;
        }

    }
}

.work-contentA {
    display: flex;
    padding: 5% 0;

    p {
        b {
            color: grey;
        }
    }

    .work-content1 {
        flex: 5;
        text-align: justify;

        h3 {
            color: grey;
            width: fit-content;
            background-image: linear-gradient(120deg, #FCBAAC 0%, #FFAA96 100%);
            background-repeat: no-repeat;
            background-size: 40% 0.3em;
            background-position: 0 88%;
        }
    }

    .work-content2 {
        flex: 4;
        width: 100%;
        justify-content: center;
        padding: 0 0 0 10%;

        .project-wrapper {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                filter: drop-shadow(0px 0px 3px grey);
            }
        }
    }
}

.work-contentB {
    display: flex;
    padding: 5% 0;

    p {
        b {
            color: grey;
        }
    }

    .work-content3 {
        flex: 4;
        width: 100%;
        justify-content: center;
        padding: 0 10% 0 0;

        .project-wrapper {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                filter: drop-shadow(0px 0px 3px grey);
            }
        }
    }

    .work-content4 {
        flex: 5;
        text-align: justify;

        h3 {
            color: grey;
            width: fit-content;
            background-image: linear-gradient(120deg, #FFAA96 0%, #FCBAAC 100%);
            background-repeat: no-repeat;
            background-size: 40% 0.3em;
            background-position: 0 88%;
        }
    }
}

.button-wrapper {
    width: fit-content;
    font-weight: 500;
    height: 6vh;
    line-height: 6vh;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #34495e;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    a {
        color: #34495e;
        text-decoration: none;
        transition: all .5s ease;
        z-index: 2;
        position: relative;
        margin: 10px;
    }

    .button-effect {
        width: 100%;
        height: 100%;
        left: -100%;
        background: #34495e;
        position: absolute;
        transition: all .5s ease;
        z-index: 1;
    }

    &:hover .button-effect {
        left: 0;
    }

    &:hover a {
        color: #fff;
    }
}

.contact-content {
    display: flex;
    padding: 5% 0;
    justify-content: center;
    div {
        margin: auto;
        width: 50%;
        text-align: center;
    }
}