footer {
    background-color: $colormain;
    padding: 2.5% 5% 0;
}

hr {
    background-color: $colorfont1;
}

.above-footer {
    width: 100%;
    min-height: 10vh;
    color: $colorfont1;

    .social-links {
        display: flex;
        margin: auto;
        padding: 1%;
        justify-content: center;
        align-items: center;

        .social {
            padding: 0;
            border: 2px solid $colorfont1;
            border-radius: 2vw;
            width: 3vw;
            height: 3vw;
            margin: 1vw;

            img {
                width: 60%;
                height: 60%;
                margin: 20%;
            }

            &:hover {
                animation: jump 0.5s ease-in-out infinite alternate;
            }
        }
    }
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 10vh;
    color: $colorfont1;
    align-items: center;
    display: flex;

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    div {
        flex: 1;

        p {
            margin: auto;

            a {
                text-decoration: none;
                font-weight: 600;
                padding: 1%;
                color: $colorfont1;
                background-image: linear-gradient(120deg, $colorassets2 0%, $colorfont1 100%);
                background-repeat: no-repeat;
                background-size: 100% 0.3em;
                background-position: 0 88%;
                transition: background-size 0.25s ease-in;

                &:hover {
                    background-size: 100% 88%;
                    color: $colormain;
                }
            }
        }
    }
}

.scroll-up {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    .arrow-up {
        cursor: pointer;
        height: 100%;
        border-radius: 50%;
        img {
            height: 100%;
            transition: transform 0.25s;
        }
        &:hover > img {
            transform: translate(0, -20%);
            transition: 0.5s ease;
        }
    }
}