@media screen and (max-width: 1024px) {
    header {
        display: flex;
        nav {
            flex: 0;
            .nav-links {
                display: none;
            }
        }
        .logo-container {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 512px) {
    header {
        display: flex;
        nav {
            flex: 0;
            .nav-links {
                display: none;
            }
        }
        .logo-container {
            justify-content: center;
        }
    }

    .main-header-content {
        flex-direction: column-reverse;
        padding: 5% 10%;
        .heading {
            width: 100%;
            text-align: left;
            margin: 5vh 0;
            .head-wrap {
                height: 35vw;
            }
            h1, h2 {
                font-size: 7vw;
            }
        }
        .img-cover {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}