@import './functions';

.Header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $colorfont1;
  background-color: $colormain;
  background-image: url(./bg-img/bg-img.svg);
  background-position: center left;
  background-size: cover;
}

header {
  display: flex;
  width: 90%;
  margin: 2vh auto;
  min-height: 10vh;

  .logo-container,
  nav,
  .nav-links {
    display: flex;
    flex: 1;
  }

  .logo-container {
    width: 100%;

    a {
      margin: 0;
    }
  }

  nav {
    ul {
      justify-content: space-around;

      li {
        list-style: none;
        width: fit-content;

        .nav-link {
          text-decoration: none;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: $colorfont1;
          font-weight: 600;
          font-size: medium;
          position: relative;

          &:after {
            position: absolute;
            transition: .3s;
            content: '';
            width: 0;
            left: 0;
            bottom: 0;
            height: 3px;
            background: $colorassets1;
          }

          &:hover {
            cursor: pointer;

            &:after {
              width: 50%;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.App-logo {
  width: 10vh;
  height: 10vh;
  margin: 0 10vh 0 10vh;

  img {
    width: 100%;
    height: 100%;
  }
}

.main-header-content {
  display: flex;
  padding: 5% 0 5% 15%;
  min-height: 70vh;
  align-items: center;

  .img-cover {
    flex: 2;

    img {
      max-height: 40vh;
      width: 25vw;
      filter: drop-shadow(0px 0px 3px $colorfont2);
      animation: drop 1.5s ease 2000ms;
    }
  }

  .heading {
    flex: 7;
    text-align: left;
    width: 40vw;
    height: 100%;
    margin: 15vh 0 0 5vh;

    h1,
    h2 {
      font-size: 5.5vh;
    }
  }
}