.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  z-index: 1;

  .sitehead {
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }

  ul {
    display: flex;

    li {
      list-style: none;
      width: 25vh;

      a {
        text-decoration: none;
        letter-spacing: 2px;
        text-transform: unset;
        color: whitesmoke;
      }
    }
  }

  .mode-logo {
    width: 4vh;
    height: 4vh;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    justify-content: center;

    ul {
      display: none;
    }
  }
}