@media screen and (max-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  header nav .nav-links {
    display: none;
  }
  header .logo-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 512px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  header nav .nav-links {
    display: none;
  }
  header .logo-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5% 10%;
  }
  .main-header-content .heading {
    width: 100%;
    text-align: left;
    margin: 5vh 0;
  }
  .main-header-content .heading .head-wrap {
    height: 35vw;
  }
  .main-header-content .heading h1, .main-header-content .heading h2 {
    font-size: 7vw;
  }
  .main-header-content .img-cover {
    width: 100%;
  }
  .main-header-content .img-cover img {
    width: 100%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.Header {
  text-align: center;
  background-color: #253245;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  background: linear-gradient(-45deg, #527fc4, #253245);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 2vh auto;
  min-height: 10vh;
}

header .logo-container,
header nav,
header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .logo-container {
  width: 100%;
}

header .logo-container a {
  margin: 0;
}

header nav ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  list-style: none;
  width: 25vh;
}

header nav ul li .nav-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: 600;
  font-size: medium;
}

.App-logo {
  width: 10vh;
  height: 10vh;
  margin: 0 10vh 0 10vh;
}

.App-logo img {
  width: 100%;
  height: 100%;
}

.main-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 15%;
  min-height: 70vh;
}

.main-header-content .img-cover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.main-header-content .img-cover img {
  height: 50vh;
  -webkit-filter: drop-shadow(0px 0px 3px grey);
          filter: drop-shadow(0px 0px 3px grey);
  -webkit-animation: drop 1.5s ease;
          animation: drop 1.5s ease;
}

.main-header-content .heading {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  text-align: left;
  width: 40vw;
  height: 100%;
  margin: 10vh 0 0 10vh;
}

.main-header-content .heading h1, .main-header-content .heading h2 {
  font-size: 4vw;
}

@media screen and (max-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  header nav .nav-links {
    display: none;
  }
  header .logo-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 512px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  header nav .nav-links {
    display: none;
  }
  header .logo-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5% 10%;
  }
  .main-header-content .heading {
    width: 100%;
    text-align: left;
    margin: 5vh 0;
  }
  .main-header-content .heading .head-wrap {
    height: 35vw;
  }
  .main-header-content .heading h1, .main-header-content .heading h2 {
    font-size: 7vw;
  }
  .main-header-content .img-cover {
    width: 100%;
  }
  .main-header-content .img-cover img {
    width: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

main {
  padding: 5%;
}

.about-header {
  color: grey;
}

.about-header h1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.about-header h1:before, .about-header h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1.5px;
  content: '\a0';
  background-color: grey;
}

.about-header h1:before {
  margin-left: -60%;
  text-align: right;
}

.about-header h1:after {
  margin-left: 10%;
  text-align: left;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}

.about-content .about1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.about-content .about2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 10%;
}

.card {
  text-decoration: none;
  color: #2c2e41;
  max-width: 300px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
          box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card header {
  padding-bottom: 90%;
  position: relative;
  overflow: hidden;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-color: #253245;
  border-radius: 10px;
}

.card .content {
  width: 100%;
  border-radius: 10px;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .content .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .content .img-wrapper img {
  width: 25px;
  height: 25px;
}

.card .content > * {
  margin-bottom: 20px;
}

.card .content > *:last-child {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

p {
  font-size: 4vh;
}
/*# sourceMappingURL=App.css.map */