$colormain: #253245;
$colorfont1: #f5f5f5;
$colorfont2: #253245;
$colorassets1: #FFCB36;
$colorassets2: #FFAA96;
$colorassets3: #ffa99680;

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import './header';
@import './content';
@import './footer';
@import './functions';
@import './responsive';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

b {
  font-weight: 600;
}

button {
  font-family: 'Karla', sans-serif;
  &:focus {
    outline:0;
  }
}

