@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.Header {
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5f5;
  background-color: #253245;
  background-image: url(./bg-img/bg-img.svg);
  background-position: center left;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 2vh auto;
  min-height: 10vh;
}

header .logo-container,
header nav,
header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .logo-container {
  width: 100%;
}

header .logo-container a {
  margin: 0;
}

header nav ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header nav ul li .nav-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: 600;
  font-size: medium;
  position: relative;
}

header nav ul li .nav-link:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 0;
  bottom: 0;
  height: 3px;
  background: #FFCB36;
}

header nav ul li .nav-link:hover {
  cursor: pointer;
}

header nav ul li .nav-link:hover:after {
  width: 50%;
  left: 0;
}

.App-logo {
  width: 10vh;
  height: 10vh;
  margin: 0 10vh 0 10vh;
}

.App-logo img {
  width: 100%;
  height: 100%;
}

.main-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0 5% 15%;
  min-height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header-content .img-cover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.main-header-content .img-cover img {
  max-height: 40vh;
  width: 25vw;
  -webkit-filter: drop-shadow(0px 0px 3px #253245);
          filter: drop-shadow(0px 0px 3px #253245);
  -webkit-animation: drop 1.5s ease 2000ms;
          animation: drop 1.5s ease 2000ms;
}

.main-header-content .heading {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  text-align: left;
  width: 40vw;
  height: 100%;
  margin: 15vh 0 0 5vh;
}

.main-header-content .heading h1,
.main-header-content .heading h2 {
  font-size: 5.5vh;
}

main {
  padding: 3% 10% 1%;
}

main h1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #253245;
}

main h1:before, main h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: silver;
}

main h1:before {
  margin-left: -60%;
  text-align: right;
}

main h1:after {
  margin-left: 10%;
  text-align: left;
}

main p {
  font-size: 3vh;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}

.main-content .about-content1 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  text-align: justify;
}

.main-content .about-content2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 10%;
}

.main-content .about-content2 .card {
  text-decoration: none;
  color: #253245;
  max-width: 25vw;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
          box-shadow: 0 1px 3px rgba(44, 46, 65, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .about-content2 .card header {
  padding-bottom: 90%;
  position: relative;
  background-image: url(./bg-img/DP-large.png);
  background-size: cover;
  background-position: center;
  background-color: #253245;
  border-radius: 10px;
}

.main-content .about-content2 .card .card-content {
  width: 100%;
  border-radius: 10px;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .about-content2 .card .card-content .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .about-content2 .card .card-content .img-wrapper img {
  width: 25px;
  height: 25px;
}

.main-content .about-content2 .card .card-content > * {
  margin-bottom: 20px;
}

.main-content .about-content2 .card .card-content > *:last-child {
  margin-bottom: 0;
}

.technical-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technical-content .technical {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: #253245;
  width: 12vw;
  height: 12vw;
  margin: 1px;
  position: relative;
  overflow: hidden;
  border-top: medium solid #253245;
}

.technical-content .technical img {
  width: 50%;
  height: 50%;
  margin: 25%;
}

.technical-content .technical p {
  position: absolute;
  font-weight: 600;
  background-color: #fff;
  color: #253245;
  opacity: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  cursor: default;
}

.technical-content .technical:hover > p {
  opacity: 1;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.work-contentA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-contentA p b {
  color: #253245;
}

.work-contentA .work-content1 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  text-align: justify;
}

.work-contentA .work-content1 h3 {
  color: #253245;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa99680), to(#ffa99680));
  background-image: linear-gradient(90deg, #ffa99680 0%, #ffa99680 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.work-contentA .work-content2 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 10%;
}

.work-contentA .work-content2 .project-wrapper {
  width: 100%;
  height: 100%;
}

.work-contentA .work-content2 .project-wrapper img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 3px #253245);
          filter: drop-shadow(0px 0px 3px #253245);
}

.work-contentB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-contentB p b {
  color: #253245;
}

.work-contentB .work-content3 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10% 0 0;
}

.work-contentB .work-content3 .project-wrapper {
  width: 100%;
  height: 100%;
}

.work-contentB .work-content3 .project-wrapper img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 3px #253245);
          filter: drop-shadow(0px 0px 3px #253245);
}

.work-contentB .work-content4 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  text-align: justify;
}

.work-contentB .work-content4 h3 {
  color: #253245;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa99680), to(#ffa99680));
  background-image: linear-gradient(90deg, #ffa99680 0%, #ffa99680 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-content div {
  margin: auto;
  width: 50%;
  text-align: center;
}

.contact-content a {
  text-decoration: none;
  font-weight: 600;
  padding: 1%;
  color: #253245;
  background-image: linear-gradient(120deg, #FFAA96 0%, #f5f5f5 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.contact-content a:hover {
  background-size: 100% 88%;
  color: #253245;
}

a.animated-button.button-effect {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #253245;
  font-weight: 500;
  font-size: 1.5vh;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #253245;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  border-radius: 0px;
  overflow: hidden;
}

a.animated-button.button-effect:hover {
  color: #f5f5f5 !important;
  background-color: transparent;
}

a.animated-button.button-effect:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

a.animated-button.button-effect:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #f5f5f5 !important;
  background: #253245;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

footer {
  background-color: #253245;
  padding: 2.5% 5% 0;
}

hr {
  background-color: #f5f5f5;
}

.above-footer {
  width: 100%;
  min-height: 10vh;
  color: #f5f5f5;
}

.above-footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.above-footer .social-links .social {
  padding: 0;
  border: 2px solid #f5f5f5;
  border-radius: 2vw;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
}

.above-footer .social-links .social img {
  width: 60%;
  height: 60%;
  margin: 20%;
}

.above-footer .social-links .social:hover {
  -webkit-animation: jump 0.5s ease-in-out infinite alternate;
          animation: jump 0.5s ease-in-out infinite alternate;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  color: #f5f5f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .left {
  text-align: left;
}

.footer .right {
  text-align: right;
}

.footer div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer div p {
  margin: auto;
}

.footer div p a {
  text-decoration: none;
  font-weight: 600;
  padding: 1%;
  color: #f5f5f5;
  background-image: linear-gradient(120deg, #FFAA96 0%, #f5f5f5 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.footer div p a:hover {
  background-size: 100% 88%;
  color: #253245;
}

.scroll-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-up .arrow-up {
  cursor: pointer;
  height: 100%;
  border-radius: 50%;
}

.scroll-up .arrow-up img {
  height: 100%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.scroll-up .arrow-up:hover > img {
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@media screen and (max-width: 1024px) {
  html, body {
    overflow-x: hidden;
  }
  .Header {
    width: 100%;
    overflow: hidden;
  }
  header {
    display: block;
    min-height: initial;
  }
  header nav {
    position: relative !important;
    display: none !important;
    visibility: hidden;
  }
  header nav .nav-links {
    position: absolute;
    display: none !important;
    visibility: hidden;
  }
  header nav .nav-links .nav-link {
    position: relative;
    display: none !important;
    visibility: hidden;
  }
  header .logo-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
  .Header {
    width: 100%;
    overflow: hidden;
  }
  header {
    display: block;
    min-height: initial;
  }
  header nav {
    position: relative !important;
    display: none !important;
    visibility: hidden;
  }
  header nav .nav-links {
    position: absolute;
    display: none !important;
    visibility: hidden;
  }
  header nav .nav-links .nav-link {
    position: relative;
    display: none !important;
    visibility: hidden;
  }
  header .logo-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5% 10%;
  }
  .main-header-content .heading {
    width: 100%;
    text-align: left;
    margin: 5vh 0;
  }
  .main-header-content .heading .head-wrap {
    height: 35vw;
  }
  .main-header-content .heading h1 {
    font-size: 7vw;
  }
  .main-header-content .img-cover {
    width: 100%;
  }
  .main-header-content .img-cover img {
    width: 100%;
  }
  main {
    min-height: initial;
  }
  main h1 {
    font-size: 7vw;
  }
  main h1:before, main h1:after {
    display: none;
  }
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content p {
    font-size: 3.5vw;
  }
  .main-content .about-content2 {
    width: 100%;
    padding: 0;
  }
  .main-content .about-content2 .card {
    max-width: 100%;
    margin: 5% 20%;
  }
  .technical-content {
    width: 100%;
  }
  .technical-content p {
    font-size: 1.5vw;
  }
  .technical-content .technical {
    width: 15vw;
    height: 15vw;
  }
  .work-contentA {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-contentA .work-content1 h3 {
    font-size: 5vw;
    text-align: center;
    margin: 1vw auto;
  }
  .work-contentA .work-content1 p {
    font-size: 3.5vw;
    text-align: justify;
  }
  .work-contentA .work-content2 {
    width: 100%;
    padding: 0;
  }
  .work-contentB {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-contentB .work-content4 h3 {
    font-size: 5vw;
    text-align: center;
    margin: 1vw auto;
  }
  .work-contentB .work-content4 p {
    font-size: 3.5vw;
    text-align: justify;
  }
  .work-contentB .work-content3 {
    width: 100%;
    padding: 0;
  }
  .above-footer .social-links .social {
    width: 10vw;
    height: 10vw;
    margin: 2vw;
    border-radius: 5vw;
  }
  .contact-content p {
    font-size: 3.5vw;
  }
  .contact-content div {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .footer {
    min-height: initial;
  }
  .footer div p {
    font-size: 2vw;
    margin: 2%;
  }
  .footer div p a {
    font-size: 2vw;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

b {
  font-weight: 600;
}

button {
  font-family: 'Karla', sans-serif;
}

button:focus {
  outline: 0;
}
/*# sourceMappingURL=App.css.map */